/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

body,
button,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --standard-text: #0C0C0C;
    --floating-words: #F2F0FF;
    --project-background: #F3F6F9;
    --service-tile: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-size: 46px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

header p {
    font-size: 18px;
}

footer p {
    font-size: 12px;
    color: white;
}

#contact label {
    font-weight: 700;
    font-size: 14px;
}

#contact h2 {
    font-size: 42px;
}

#contact p {
    font-size: 18px;
}

#introduction p,
#studies p {
    font-size: 20px;
    color: var(--standard-text)
}

#introduction a,
#introduction a:visited {
    color: var(--purple);
    text-decoration: none;
}

button {
    font-size: 12px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
}

#studies a,
#studies a:visited {
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

#services h3 {
    color: var(--purple);
}

#services p {
    color: var(--service-tile);
    font-size: 16px;
}

/* ------------------------------- 3. Layout --------------------------------------- */
body {
    min-height: 100vh;
}

/* --------------- 3.1 Reusables ----------------------- */
.small-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
}

button {
    border: none;
    background-color: var(--pink);
    color: #FFF;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
    background: var(--blue);
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 60px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    color: #FFF;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    list-style: none;
    margin-right: 60px;
}

header .small-inner-container {
    align-items: center;
    flex-basis: 250px;
    margin-top: 100px;
    color: #FFF;
}

header button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
}

header .squiggle-line-stripe {
    position: absolute;
    height: 80px;
    bottom: 0;
}
/*Creates the tilted bottom on the header*/
header::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100vw solid #FFF;
    position: absolute;
    bottom: 0;
}

/* --------------- 4.2 Introduction ------------------- */
#introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#introduction .small-inner-container {
    color: var(--purple);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 150px;
}

#introduction h2 {
    margin-bottom: 30px;
}

#introduction p {
    margin-top: 80px;
}

/*Adds floating words on the background*/
#introduction::before {
    content: "hello";
    position: absolute;
    font-weight: 800;
    font-size: 500px;
    color: var(--floating-words);
    z-index: -1;
    top: -30px;
}

/*Created tilted top at services, bottom of introduction*/
#introduction::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-right: 100vw solid #FFF;
    position: absolute;
    bottom: -50px;
    z-index: 1;
}

/* --------------- 4.3 Studies ------------------- */
#studies {
    background-color: var(--project-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: -2;
}

/*Adds floating words on the background*/
#studies::before {
    content: "work";
    position: absolute;
    font-weight: 800;
    font-size: 500px;
    color: #FFF;
    z-index: -1;
    top: 0;
}

/*Creates the tilted bottom at services*/
#studies::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100vw solid #FFF;
    position: absolute;
    bottom: 0;
}

.bigger-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 300px 15px 100px;
}

#studies article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    max-width: 1300px;
}

#studies article:nth-child(even) {
    flex-direction: row-reverse;
}

#studies .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    padding-right: 20px;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

#studies .article-image {
    max-width: 60%;
}

#studies .article-image img {
    width: 100%;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
}

#studies .squiggle-line {
    width: 60px;
    margin: 30px 0 40px 0;
}

#studies .article-content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#studies .project-link {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* --------------- 4.4 Services ------------------- */
#services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

/*Adds floating words on the background*/
#services::before {
    content: "services";
    position: absolute;
    font-weight: 800;
    font-size: 280px;
    color: var(--floating-words);
    z-index: -1;
    top: 0;
}

.services-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 235px 100px 100px;
    gap: 40px;
}

#services article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 380px;
    min-height: 350px;
    padding: 40px 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: solid 2px var(--purple);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background: #FFF;
}

.grid-icon {
    height: 60px;
}

/* --------------- 4.5 Contact ------------------- */
#contact {
    background: var(--blue);
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

/*Created tilted top at contact*/
#contact::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-right: 100vw solid #FFF;
    position: absolute;
    top: 0;
}

#contact .small-inner-container {
    align-items: center;
    color: #FFF;
}

#contact h2,
#contact p {
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

input,
textarea {
    border-radius: 3px;
    border: 1px solid var(--service-tile);
    padding: 15px;
    margin-bottom: 30px;
}

input:focus,
textarea:focus {
    outline: none;
}

#contact button {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 75px);
}


/* --------------- 4.6 Footer ------------------- */
footer {
    background: var(--standard-text);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ------------------------------- 5. Media Queries -------------------------------- */