/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

body,
button {
    font-family: "Roboto", sans-serif;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --standard-text: #0C0C0C;
    --floating-words: #F2F0FF;
    --project-background: #F3F6F9;
    --service-tile: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-size: 46px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

header p {
    font-size: 18px;
}

#introduction p,
#studies p {
    font-size: 20px;
    color: var(--standard-text)
}

#introduction a,
#introduction a:visited {
    color: var(--purple);
    text-decoration: none;
}

button {
    font-size: 12px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
}

#studies a,
#studies a:visited {
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

/* ------------------------------- 3. Layout --------------------------------------- */
body {
    min-height: 100vh;
}

/* --------------- 3.1 Reusables ----------------------- */
.small-inner-container {
    /*border: 3px orange dashed;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    margin-top: 100px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
    background: var(--blue);
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    position: relative;
}

nav {
    /*border: 2px dashed red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 60px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    color: #FFF;
}

nav ul {
    /*border: 2px dashed green;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    list-style: none;
    margin-right: 60px;
}

header .small-inner-container {
    /*!*border: 3px orange dashed;*!*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    align-items: center;
    flex-basis: 250px;
    /*width: 900px;*/
    /*margin-top: 100px;*/
    color: #FFF;
}

.small-inner-container button {
    border: none;
    background-color: var(--pink);
    color: #FFF;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

header .squiggle-line-stripe {
    position: absolute;
    height: 80px;
    bottom: 0;
}

/* --------------- 4.2 Introduction ------------------- */
#introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#introduction .small-inner-container {
    color: var(--purple);
    text-align: center;
    margin-bottom: 100px;
}

#introduction h2 {
    margin-bottom: 20px;
}

#introduction p {
    margin-top: 50px;
}

/* --------------- 4.3 Studies ------------------- */
#studies {
    background-color: var(--project-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px blue dashed;*/
}

.bigger-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 100px 15px 100px;
    /*border: 2px dashed red;*/
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*border: 2px dashed orange;*/
    margin-bottom: 100px;
    max-width: 1300px;
}

article:nth-child(even) {
    flex-direction: row-reverse;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 2px dashed forestgreen;*/
    margin-left: 20px;
    padding-right: 20px;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.article-image {
    max-width: 60%;
    /*border: 2px dashed red;*/
}

.article-image img {
    width: 100%;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
}

.squiggle-line {
    width: 60px;
    margin: 30px 0 40px 0;
}

.article-content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#studies .project-link {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */